.block-facebook {
  position: relative;
  .btn-like {
    position: absolute;
    top: 0;
    right: 0;

    height: 18px;
    padding: 0 0 0 26px;

    background: url('../img/ico-like.png') no-repeat left -5px;
  }
  .fanpage-info {
    display: block;

    margin-bottom: 5px;
  }
  .fanpage-list {
    margin: 0 -15px;
    .item {
      float: left;

      width: 62px;
      margin: 0 0 0 15px;
      > .item-face {
        display: inline-block;

        padding: 5px;

        border-bottom: 1px solid #b9b9b9;
        background: #fff;
      }
      .item-name {
        display: block;
        overflow: hidden;

        margin: 1px 0;

        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
